.RoundButton {
  border-radius: 50%;
  border: none;
  /**/
  /**/
  /**/
}
.RoundButton--L {
  height: 40px;
  min-width: 40px;
  width: 40px;
  padding: 8px;
  font-size: 16px;
}
.RoundButton--dark {
  color: white;
  background: var(--brown);
}
.RoundButton--dark:hover {
  color: var(--accent-color);
}
.RoundButton--dark:active {
  filter: brightness(2);
}
.RoundButton--green {
  background-color: #008353;
}
.RoundButton--green:hover {
  background-color: rgba(0, 131, 83, 0.8);
}

/**/
.AppButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  font-family: var(--font-main);
}