/*
Breakpoints mixin
@param {String} $point - name of breakpoint
add '-up' if you want (min-width: $point) and leave with no suffix for (max-width: $point - 1px)
*/
/**
 *
 */
/**
 *
 */
/**
 *
 */
/**/
/**
 *
 */
.SearchPage {
  background-color: var(--main-bg-color);
}
.SearchPage .visible {
  display: block;
}
.SearchPage__container {
  position: relative;
  padding: var(--side-padding);
}
.SearchPage__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--side-padding);
  border-bottom: solid 1px var(--grey);
}
.SearchPage__search {
  position: relative;
  flex: 1;
  height: 48px;
  padding: 4px;
  border-radius: 24px;
  border: 1px solid var(--grey);
}
.SearchPage__input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  color: var(--dark);
  letter-spacing: 0.8px;
  background: transparent;
  border: none;
  outline: none;
  padding: 4px 54px 4px 14px;
}
.SearchPage__input.placeholder {
  color: var(--grey);
}
.SearchPage__input:-moz-placeholder {
  color: var(--grey);
}
.SearchPage__input::-moz-placeholder {
  color: var(--grey);
}
.SearchPage__input::-webkit-input-placeholder {
  color: var(--grey);
}
.SearchPage__clear {
  position: absolute;
  right: 7px;
  top: 4px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  padding: 10px;
  transition: color 0.25s;
  color: var(--grey);
}
.SearchPage__clear:hover {
  color: var(--accent-color);
}
.SearchPage__submit {
  height: 40px;
  width: 40px;
  font-size: 20px;
  padding: 4px;
  margin-left: 12px;
}
.SearchPage__nothing {
  display: none;
  padding: var(--side-padding) 0;
  border-bottom: solid 1px var(--grey);
}
.SearchPage__results {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.SearchPage__item {
  padding: var(--side-padding) 0;
}
.SearchPage__item:not(:last-child) {
  border-bottom: solid 1px var(--grey);
}
.SearchPage__itemTitle {
  transition: color 0.25s;
}
.SearchPage__item:hover .SearchPage__itemTitle {
  color: var(--accent-color);
}
.SearchPage__itemText {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--text-color);
  transition: color 0.25s;
}
.SearchPage__item:hover .SearchPage__itemText {
  color: var(--accent-color);
}
.SearchPage__more {
  display: none;
  text-align: center;
  padding: var(--side-padding) 0;
}
.SearchPage__more button {
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  padding: 0 16px;
  letter-spacing: 0.8px;
}
.SearchPage__pages {
  display: none;
  padding: var(--side-padding) 0;
}
.SearchPage__pages ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.SearchPage__pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -8px;
}
.SearchPage__pill {
  padding: 0;
  margin: 0 6px 16px 0;
}
.SearchPage__page {
  height: 32px;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px var(--grey);
  color: var(--dark-grey);
  background-color: var(--song-bg-color);
  transition: color 0.25s;
}
.SearchPage__page:hover {
  color: var(--accent-color);
}
.SearchPage__pagesTitle {
  margin-bottom: 16px;
}