/*
Breakpoints mixin
@param {String} $point - name of breakpoint
add '-up' if you want (min-width: $point) and leave with no suffix for (max-width: $point - 1px)
*/
/**
 *
 */
/**
 *
 */
:root {
  --font-main: "Helvetica", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  --font-mono: "Helvetica", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  --font-size: 16px;
  /**/
  --content-max-width: 568px;
  --header-height: 60px;
  --page-max-width: 768px;
  --side-padding: 20px;
  /**/
  --accent-color: var(--orange);
  --border-color: var(--grey);
  --header-bg-color: var(--brown);
  --index-bg-color: var(--beige);
  --song-bg-color: #fff;
  --text-color: var(--dark-grey);
  --title-color: var(--dark);
  /**/
  --beige: #FFFAED;
  --brown: #26231B;
  --dark: #000;
  --dark-grey: #515151;
  --grey: #A4A4A4;
  --orange: #F5C149;
}