@import '../mixins';
@import '../variables';

.AppModal {
    &.tingle-modal {
        cursor: default !important;
        background: rgba(0, 0, 0, .4);
        animation: fadeIn 0.4s;
        padding: 0;
        overflow: auto;

        &--visible .tingle-modal-box {
            animation: fadeIn 0.4s;
        }
    }


    .tingle-modal__close {
        display: none;
    }


    .tingle-modal__closeLabel {
        display: none;
    }


    .tingle-modal-box {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        width: auto;
        max-width: 90%;
        min-width: 80%;
        margin: 0px auto;
        background-color: transparent;

        @include breakpoint($min: $bp768) {
            max-width: 500px;
            min-width: 500px;
        }
    }


    .tingle-modal-box__content {
        width: 100%;
        margin: 30px 0;
        border-radius: 24px;
        padding: var(--side-padding);
        background-color: var(--song-bg-color) !important;
    }
}
