<link rel="stylesheet" href="<%= paths.toCss %>/partials/footer.css" />

<footer class="Footer">
    <div class="Footer__container">
        <div class="Footer__content">
            <a class="Footer__item">
                <div class="Footer__icon Footer__icon--regular icon-books"></div>
                <div class="Footer__icon Footer__icon--active icon-books-bold"></div>
                <h6 class="Footer__label">Books</h6>
            </a>

            <a class="Footer__item">
                <div class="Footer__icon Footer__icon--regular icon-list-music"></div>
                <div class="Footer__icon Footer__icon--active icon-list-music-bold"></div>
                <h6 class="Footer__label">Содержание</h6>
            </a>

            <a class="Footer__item">
                <div class="Footer__icon Footer__icon--regular icon-arrow-up-a-z"></div>
                <div class="Footer__icon Footer__icon--active icon-arrow-up-a-z-old"></div>
                <h6 class="Footer__label">Index</h6>
            </a>

            <a class="Footer__item">
                <div class="Footer__icon Footer__icon--regular icon-search"></div>
                <div class="Footer__icon Footer__icon--active icon-search-bold"></div>
                <h6 class="Footer__label">Поиск</h6>
            </a>
        </div>
    </div>
</footer>
