<header class="HeaderDesktop">
    <link
        rel="stylesheet"
        href="<%= paths.toCss %>/partials/header-desktop.css"
    />

    <div class="HeaderDesktop__top">
        <div class="HeaderDesktop__fill"></div>
        <div class="HeaderDesktop__background"></div>
        <div class="HeaderDesktop__ribbon"></div>
    </div>

    <div class="HeaderDesktop__container">
        <div class="HeaderDesktop__content">
            <a href="/" class="HeaderDesktop__home">
                <div class="HeaderDesktop__logo">
                    <img
                        src="<%= paths.toIcons %>/peacock-logo-2.jpg"
                        alt="Home"
                    />
                </div>
                <div class="HeaderDesktop__title">
                    <img
                        src="<%= paths.toIcons %>/svg/kirtan-mate.svg"
                        alt="Home"
                    />
                </div>
            </a>

            <!--                    <div class="HeaderDesktop__search">-->
            <!--                        <img src="../icons/svg/search.svg" alt="Home">-->
            <!--                    </div>-->
        </div>
    </div>
</header>
