<header class="Header">
    <link
        rel="stylesheet"
        href="<%= paths.toCss %>/partials/header.css"
    />

    <div class="Header__container">
        <div class="Header__content">
            <a href="<%= paths.toPages.index %>" class="Header__home">
                <img
                    alt="Home"
                    class="Header__logo"
                    src="<%= paths.toIcons %>/svg/kirtan-mate.svg"
                />
            </a>
        </div>
    </div>
</header>
