<header class="HeaderMobile">
    <link
        rel="stylesheet"
        href="<%= paths.toCss %>/partials/header-mobile.css"
    />

    <!--  <div class="HeaderMobile__top">-->
    <!--    <div class="HeaderMobile__fill"></div>-->
    <!--    <div class="HeaderMobile__background"></div>-->
    <!--  </div>-->

    <div class="HeaderMobile__container">
        <div class="HeaderMobile__ribbon">
            <div class="HeaderMobile__content">
                <a href="/" class="HeaderMobile__home">
                    <div class="HeaderMobile__logo">
                        <img
                            src="<%= paths.toIcons %>/peacock-logo-2.jpg"
                            alt="Home"
                        />
                    </div>
                    <div class="HeaderMobile__title">
                        <img
                            src="<%= paths.toIcons %>/svg/kirtan-mate.svg"
                            alt="Home"
                        />
                    </div>
                </a>

                <!--                    <div class="HeaderMobile__search">-->
                <!--                        <img src="../icons/svg/search.svg" alt="Home">-->
                <!--                    </div>-->
            </div>
        </div>
    </div>
</header>
