<li class="IndexListItem">

    <header class="IndexListItem__header">
        <h6 class="IndexListItem__title IndexListItem__title__empty">&nbsp;</h6>
    </header>

    <ul class="IndexListItem__list">
        <li class="IndexListItem__item">
            <a href="<%= paths.toPages.AUTHORS %>" class="IndexListItem__link">
                <h6 class="IndexListItem__menu" title="<%= title %>">
                    <%= i18n('AUTHORS_PAGE.LINK_FULL_TITLE') %>
                </h6>
                <div class="IndexListItem__suffix">
                    <div class="IndexListItem__icon icon-chevron-right"></div>
                </div>
            </a>
        </li>
    </ul>
</li>
