<div class="PrevNextNav">
    <link rel="stylesheet" href="<%= paths.toCss %>/partials/prev-next-nav.css" />

    <div class="PrevNextNav__container">
        <div class="PrevNextNav__content">
            <a href="" id="prev-link">
                <button class="AppButton Navigation__link PrevNextNav__link">
                    <span class="PrevNextNav__icon PrevNextNav__icon--prev icon-chevron-right"></span>
                </button>
            </a>

            <%- include(paths.toPartials + '/navigation.ejs'); %>

            <a href="" id="next-link">
                <button class="AppButton Navigation__link PrevNextNav__link">
                    <span class="PrevNextNav__icon PrevNextNav__icon--next icon-chevron-right"></span>
                </button>
            </a>
        </div>
    </div>

    <script>
        try {
            const contentItems = JSON.parse('<%- contentItems %>');
            const prevLink = document.getElementById('prev-link');
            const nextLink = document.getElementById('next-link');

            const items = contentItems.flatMap((cat) => cat.items);
            const index = items.findIndex((item) =>
                window.location.pathname.includes(item.fileName)
            );

            const prevIndex = index === 0 ? items.length - 1 : index - 1;
            const nextIndex = index === items.length - 1 ? 0 : index + 1;

            prevLink.title = items[prevIndex].name;
            nextLink.title = items[nextIndex].name;

            prevLink.href = /*'html/' +*/ items[prevIndex].fileName;
            nextLink.href = /*'html/' +*/ items[nextIndex].fileName;
        } catch (e) {
            window.console.error(e);
        }
    </script>
</div>
