<div class="ReturnHome">
    <link rel="stylesheet" href="<%= paths.toCss %>/partials/returnHome.css">
    <a class="ReturnHome__anchor" href="/">
        <span class="ReturnHome__icon icon-arrow_back"></span>
        <span class="ReturnHome__text">Повернутися</span>
    </a>
</div>
