<li class="SongVerse">
    <link
        rel="stylesheet"
        href="<%= paths.toCss %>/partials/song-verse.css"
    />

    <ul class="SongVerse__translation">
        <li class="SongVerse__paragraph">
            <p>
                <a href="#" data-embed="<%= item.embed_code %>">▶ <%= item.title %></a>
            </p>
        </li>
    </ul>
</li>
