<li class="SongEmbed">
    <div class="SongEmbed__container">
        <button class="NoBorderButton SongEmbed__button" data-embed>
            <span class="SongEmbed__icon">
                <span class="icon-shevron-right"></span>
            </span>

            <span class="SongEmbed__title">
                <%= item.title %>
            </span>
        </button>

        <div class="Collapse">
            <div class="SongEmbed__content">
                <%- item.embed_code %>
            </div>
        </div>
    </div>
</li>
