<link rel="stylesheet" href="<%= paths.toCss %>/partials/song-share.css" />

<div class="SongShare">
    <div class="SongShare__container">
        <h4 class="SongShare__title">Поділитися</h4>
        <div class="SongShare__qr" id="qrcode-block"></div>

        <div class="SongShare__copy">
            <label for="" class="SongShare__label"
                >Копіювати посилання на сторінку</label
            >

            <div class="SongShare__form">
                <input
                    class="SongShare__input"
                    id="href-input"
                    readonly
                    type="text"
                />

                <button
                    class="AppButton RoundButton RoundButton--L RoundButton--dark SongShare__button"
                    id="copy-button"
                >
                    <span class="icon-copy"></span>
                </button>
            </div>
        </div>
    </div>
</div>
