@import '../mixins';
@import '../variables';

.HeaderDesktop {
    display: none;

    @include breakpoint(md-up) {
        display: block;
        --header-content-width: 2400px;
        --header-top-height: 420px;
    }

    //background-color: var(--header-bg);
    height: var(--header-height);
    position: relative;

    &__top {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-top-height);
    }

    &__fill {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--header-fill);
    }

    &__ribbon {
        position: absolute;
        top: 0;
        width: 100%;
        height: var(--header-height);
        background-color: var(--header-top-color);
        opacity: 0.8;
    }

    &__background {
        position: relative;
        //top: 0;
        height: 100%;
        //width: 100%;
        max-width: var(--header-content-width);
        margin: 0 auto;
        overflow: hidden;
        //background: linear-gradient(0deg, rgba(6, 2, 36, 0.50) 0%, rgba(6, 2, 36, 0.50) 100%), url("../../icons/background.jpg"), lightgray 50% / cover no-repeat;
        background: center / cover no-repeat url('../../icons/background.jpg');

        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 100%;
            background-image: radial-gradient(
                farthest-corner at 25% 15%,
                rgb(0, 0, 0, 0.3) 0%,
                transparent 70%
            );
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            background-color: #06022480;
        }
    }

    &__container {
        height: 100%;
        max-width: var(--main-content-width);
        padding: 0 var(--main-content-padding);
        margin: 0 auto;
        overflow: hidden;
    }

    &__content {
        //padding: 0 16px;
        height: 100%;
    }

    &__home {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        width: fit-content;
    }

    &__logo {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__logo img {
        width: 100%;
        filter: brightness(1.5);
    }

    &__title {
        margin-left: 8px;
        margin-top: 5px;
    }
}
