@import '../mixins';
@import '../variables';

.Header {
    background-color: var(--header-bg-color);
    height: var(--header-height);

    @include breakpoint($min: $bp768) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    &__container {
        height: 100%;
        margin: 0 auto;
        max-width: var(--page-max-width);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--side-padding);
        height: 100%;
    }

    &__home {
        height: 27px;
        width: 98px;
        overflow: hidden;
    }

    &__logo {
        max-width: 100%;
    }
}
