@import '../mixins';


.IndexListItem {
    scroll-margin-top: calc(24px + var(--header-height));

    &__header {
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            right: 0;
            border-bottom: 0.5px solid var(--border-color);
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        font-weight: 300;
        line-height: 28px;
        max-width: 80%;
        margin-bottom: 16px;
        padding: 0 16px;
        text-transform: uppercase;
        background-color: var(--main-bg-color);

        &__empty {
            z-index: 0;
        }
    }

    &__list {
        list-style-type: none;
        margin: 0 0 24px 0;
        padding: 0;
        width: 100%;
    }

    &__item {
        padding: 8px 0;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__name {
        flex: 1;
        font-weight: 700;
        line-height: 28px;
        margin: 0;
        color: var(--title-color);
    }

    &__menu {
        flex: 1;
        font-weight: initial;
        line-height: 28px;
        margin: 0;
        color: var(--title-color);
    }

    &__subtitle {
        flex: 1;
        line-height: 28px;
        margin: 0;
        color: var(--title-color);
    }

    &__page {
        display: inline-block;
        font-weight: 400;
        color: var(--grey);
    }

    &__embed {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        line-height: 0;
        color: var(--grey);
    }

    &__views {
        display: none;
        color: var(--title-color);
    }

    &__suffix {
        position: relative;
        width: 24px;
    }

    &__icon {
        position: absolute;
        font-size: 24px;
        color: var(--dark-grey);
        top: 1px;
        left: 0px;
    }
}
