.IndexListItem {
    &__header {
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            right: 0;
            border-bottom: 0.5px solid var(--border-color);
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 16px;
        padding: 0 16px;
        background-color: var(--index-bg-color);
    }

    &__list {
        list-style-type: none;
        margin: 0 0 24px 0;
        padding: 0;
        width: 100%;
    }

    &__item {
        padding: 8px 0;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__name {
        flex: 1;
        font-weight: 700;
        line-height: 28px;
        margin: 0;
        color: var(--title-color);
    }

    &__icon {
        font-size: 24px;
        width: 24px;
        color: var(--border-color);
    }
}
