.SongVerse {
    &__header {
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            right: 0;
            border-bottom: 0.5px solid var(--border-color);
        }
    }

    &__title {
        position: relative;
        z-index: 1;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 10px;
        padding: 0 16px;
        background-color: var(--song-bg-color);
    }

    &__text {
        list-style-type: none;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__line {
        font-weight: 700;
        line-height: 24px;
        color: var(--title-color);
        text-indent: -1em;
        margin-left: 1em;

        &_indent_1 {
            margin-left: 2em;
        }

        &_indent_2 {
            margin-left: 3em;
        }

        &_indent_3 {
            margin-left: 4em;
        }

        &_indent_4 {
            margin-left: 5em;
        }
    }

    &__light {
        font-weight: initial;
    }

    &__translation {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__wordbyword {
        list-style-type: none;
        margin: 4px 0 0 0;
        padding: 0;
    }

    &__paragraph {
        p {
            color: var(--text-color);
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 16px;

            .word-by-word-mode .SongVerse__translation & {
                color: var(--dark);
            }

            .word-by-word-mode .SongVerse__wordbyword & {
                font-size: 12px;
            }
        }

        a {
            color: var(--text-color);
        }
    }

    &__break {}

    &__term {
        font-weight: 400;
    }

    &__note {
        font-weight: 600;
    }
}
