.SongShare {
  background-color: var(--song-bg-color);
  padding: 0 var(--song-content-padding);

  &__container {
    border-top: 1px solid var(--delimiter-border-color);
    padding-top: 40px;
  }

  &__share {
    line-height: 1.4;
    letter-spacing: 0.8px;
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__qr {
    margin-right: 40px;
    margin-bottom: 60px;
  }

  &__copy {
    flex: 1;
    max-width: 500px;
    margin-bottom: 60px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 72px;
    padding: 16px 8px 16px 24px;
    border-radius: 100px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
  }

  &__label {
    display: block;
    color: #6a6a6a;
    letter-spacing: 0.64px;
    margin-bottom: 16px;
  }

  &__input {
    flex: 1;
    font-size: 16px;
    margin-right: 10px;
    border: none !important;
    outline: none !important;
  }

  &__button {
    box-shadow: -35px 0 15px 0px var(--song-bg-color);
  }

  &__icon {
    font-size: 24px;
  }
}
