.PrevNext {
  background-color: var(--song-bg-color);
  padding: 0 var(--song-content-padding);
  border-radius: 0 0 40px 40px;
}
.PrevNext__container {
  border-top: 1px solid var(--delimiter-border-color);
  padding-top: 40px;
}
.PrevNext__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.PrevNext__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.PrevNext__item--next {
  margin-left: auto;
}
.PrevNext__icon {
  font-size: 24px;
}
.PrevNext__icon--next {
  transform: rotate(180deg);
}
.PrevNext__text {
  margin: 12px 24px;
}
.PrevNext__text--next {
  text-align: right;
}
.PrevNext__description {
  letter-spacing: 0.64px;
}
.PrevNext__title {
  font-size: 14px;
  letter-spacing: 0.56px;
  max-width: 300px;
}