.SongBookTitle__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SongBookTitle__box {
  border-radius: 8px;
  overflow: hidden;
  height: 52px;
  width: 52px;
  min-width: 52px;
}
.SongBookTitle__image {
  height: 100%;
  width: 100%;
}
.SongBookTitle__info {
  margin-left: 20px;
  width: calc(100% - 72px);
}
.SongBookTitle__title {
  margin-bottom: 4px;
}
.SongBookTitle__subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--text-color);
}