@import 'mixins';
@import 'variables';

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-main);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--text-color);
    background-color: var(--song-bg-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1.2;
    color: var(--title-color);
}

h1,
.h1 {
    font-size: 38px;
    //@include breakpoint(sm) {
    //  font-size: 30px;
    //}
}
h2,
.h2 {
    font-size: 30px;
    //@include breakpoint(sm) {
    //  font-size: 26px;
    //}
}
h3,
.h3 {
    font-size: 24px;
    //@include breakpoint(sm) {
    //  font-size: 22px;
    //}
}
h4,
.h4 {
    font-size: 20px;
    //@include breakpoint(sm) {
    //  font-size: 18px;
    //}
}
h5,
.h5 {
    font-size: 18px;
    //@include breakpoint(sm) {
    //  font-size: 16px;
    //}
}
h6,
.h6 {
    font-size: 16px;
    //@include breakpoint(sm) {
    //  font-size: 14px;
    //}
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/**/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**/
.Layout {
    height: 100%;
    overflow: hidden;

    &__content {
        position: relative;
        height: 100%;
        overflow: auto;
    }
}

/**/
.Main {
    min-height: calc(100% - var(--footer-height) - var(--header-height));
    margin-bottom: var(--footer-height);

    &__container {
        margin: 0 auto;
        max-width: var(--content-max-width);
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px var(--side-padding) 24px;
    }
}


/**/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
