@import "mixins";
@import "variables";


.HomePage {
  
  &__main {
    padding-top: 85px;
    
    @include breakpoint(md-up) {
      padding-top: 150px;
    }
  }
  
  &__container {
    margin: 0 auto;
    max-width: var(--main-content-width);
    padding-bottom: 20px;
  }
  
  &__content {
    word-break: break-word;
  }
  
  &__categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
