@import 'mixins';
@import 'variables';


.SongPage {
    background-color: var(--main-bg-color);
    position: relative;

    &__content {
        background-color: var(--song-bg-color);
        border-radius: 24px;
        box-shadow: 0px 4px 20px 0px rgba(56, 55, 142, 0.15);
        padding-top: 24px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    &__box {
        margin-right: 16px;
    }

    &__title {
        font-size: 20px;
        line-height: 140%;
        color: var(--title-color);
        margin: 0 0 0 0;

        @include breakpoint_obsolete(sm-up) {
            font-size: 28px;
        }
    }

    &__title_last {
        margin: 0 0 16px 0;
    }

    &__author {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 300;
        margin-top: 4px;
    }

    &__author_first {
        margin-top: 16px;
    }

    &__subtitle {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 600;
        margin-top: 16px;
    }

    &__main {
        width: 100%;
    }

    &__verses {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
