@import "mixins";
@import "variables";


.SongPage {
  &__header {
    padding: 24px var(--song-content-padding) 20px;
  }
  
  &__text {
    padding: 60px var(--song-content-padding);
    border-radius: 40px 40px 0 0;
    background-color: var(--song-bg-color);
  }
  
  &__container {
    margin: 0 auto;
    max-width: var(--main-content-width);
    padding-bottom: 40px;
  }
  
  &__content {
    word-break: break-word;
  }
}
