.SongPage {
    background-color: var(--main-bg-color);
    position: relative;

    &__container {
        position: relative;
    }

    &__content {
        padding-bottom: 64px;
    }

    &__main {
        width: 100%;
        background-color: var(--song-bg-color);
        border-radius: 24px;
        box-shadow: 0px 4px 20px 0px rgba(56, 55, 142, 0.15);
        padding: var(--side-padding) var(--side-padding) 8px;
        margin-bottom: calc(1.5 * var(--side-padding));
    }

    &__toggle {
        margin-top: -4px;
    }

    &__show {
        font-size: 14px;
    }

    &__verses {
        list-style-type: none;
        margin: 16px 0;
        padding: 0;
        opacity: 0;
        animation: fadeInStep calc(1.25 * var(--transition-duration-m)) forwards;
    }

    &__extra {
        padding: 0 var(--side-padding);
    }
}

/**/
@keyframes fadeInStep {
  0% { opacity: 0 }
  80% { opacity: 0 }
  100% { opacity: 1 }
}
