.SongPage {
  &__header {
    padding: 24px 100px 20px 100px;
  }
  
  &__text {
    padding: 60px 100px;
    border-radius: 40px 40px 0 0;
    background-color: white;
  }
  
  &__container {
    margin: 0 auto;
    max-width: var(--main-content-width);
  }
  
  &__content {
    word-break: break-word;
    //padding: 20px 100px 40px 100px;
  }
}
