.Collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
}
.Collapse__show {
  /* Warning: if verse will be larger, part of content will be hidden. */
  max-height: 999em;
}
.Collapse__transition {
  transition: max-height var(--transition-duration-m) cubic-bezier(0, 1, 0, 1);
}
.Collapse__transition.Collapse__show {
  transition: max-height 1s ease-in-out 0s;
}