.Collapse {
  display: block;
  overflow: hidden;
}
.Collapse__transition {
  transform-origin: top;
  height: 0;
  transform: scaleY(0);
  opacity: 0;
  transition: height 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}
.Collapse__show {
  /* height will be set dynamically via JS */
  height: auto;
  transform: scaleY(1);
  opacity: 1;
}

.EmbedCollapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
}
.EmbedCollapse__show {
  /* Warning: if content will be larger, part of content will be hidden. */
  max-height: 9em;
}
.EmbedCollapse__transition {
  transition: max-height 0.5s linear 0s;
}